<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if session[:token] %>
Usuário: <%= session[:token]%>
<% else %>
Usuário não logado...
<% end %>

<hr>

<%= yield %>

</body>
</html>
