<h2>Send Data</h2>


<% if flash[:message]%>
  <div class="alert alert-success">
  <%= flash[:message]%>
  </div>
<% end %>


<!--
  Devices:
<%= @devices%>
-->


<%
  options = ""
  _devices = @devices["devices"]
  _devices.each do |_dev|
    options += "<option value=\"#{_dev["iden"]}\">#{_dev["extras"]["model"]} - #{_dev["extras"]["android_version"]} - #{_dev["extras"]["manufacturer"]}</option>"
  end
%>


<%= form_tag(push_path, method: :post, :role => "form") do%>

  <div class="form-group">
      <label for="iden">Devices:</label>
      <%= select_tag "iden", options.html_safe, :class=> "form-control" %>
  </div>

  <div class="form-group">
      <label for="title">Title:</label>
      <%= text_field_tag 'title', '', :class => "form-control" %>
  </div>


  <div class="form-group">
      <label for="body">Body:</label>
      <%= text_area_tag 'body', '', :class => "form-control" %>
  </div>


<div class="innerT">
  <%= submit_tag "PushBullet!", class: "btn btn-primary btn-block" %>
</div>







<%end%>